:root{
    /* dark mode colours */
    --dark-gray: #2A2A2A;
    --gray:#5b656d;
    --gray2:#333333;
    --navey:#000050;
    --blue:rgb(0, 93, 160);
    --highlight-blue:rgb(0, 178, 205);
    --alice-blue: #f0f8ff;
}
body{
    margin: 0;
    background-image: 
    radial-gradient(circle at bottom,rgb(31,31,31), black);
    color: aliceblue;
}
/* *Background divs */
.backgroundContainer{
    overflow: hidden;
}
.background{
    position: absolute;
    height: 1000px;
    width: 100%;
    margin: 0;
}
#pattern{
    background-image: 
    radial-gradient(circle at top left, var(--gray2)2px,var(--dark-gray)2px,var(--dark-gray)3px,transparent 3px),
    radial-gradient(circle at top right, var(--gray2)2px,var(--dark-gray)2px,var(--dark-gray)3px,transparent 3px),
    radial-gradient(circle at bottom left, var(--gray2)2px,var(--dark-gray)2px,var(--dark-gray)3px,transparent 3px),
    radial-gradient(circle at bottom right, var(--gray2)2px,var(--dark-gray)2px,var(--dark-gray)3px,transparent 3px),
    linear-gradient(90deg, var(--gray2)1px, transparent 1px),
    linear-gradient( var(--gray2)1px, transparent 1px);
    background-size: 30px 30px;
    mask-image: radial-gradient(circle at bottom, black,transparent);
    z-index: -5;
}
.star{
    background-color: aliceblue;
    position: fixed;
    border-radius: 50%;
    margin: 3px;
    z-index: -4;
}
.star2{
    background-color: var(--highlight-blue);
    position: fixed;
    border-radius: 50%;
    margin: 3px;
    z-index: -4;
}
.plannet{
    border-radius: 50%;
    height: 400px;
    width:400px;
    bottom:50%;
    left:50%;
    background-image:
    linear-gradient(-150deg,var(--navey) 10%,var(--blue),var(--gray)80%);
}
.shadows{
    height: inherit;
    width: inherit;
    border-radius: inherit;
    background-image: radial-gradient(circle at 360px 0px,rgba(255, 255, 255, 0.8) 1%,transparent ,rgb(8, 8, 9) 80%);
    box-shadow: -1px 1px 30px 3px rgba(255, 255, 255, 0.3);
}
.moon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: linear-gradient(-120deg,var(--gray),var(--gray2)70%);
    background-size: 400%;
    box-shadow: 5px -5px 10px 1px rgba(0, 0, 0, 0.7) inset;
    transform: translate(0px, 250px);
    position: absolute;
    animation: orbit 15s ease-in-out infinite;
}
@keyframes orbit {
    0%{
        transform: translate(-100px, 250px);
        box-shadow: -10px 10px 60px 3px rgba(255, 255, 255, 1);
        background-position: left;
    }
    25%{
        box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.4);
    }
    50%{
        transform: translateX(400px);
        box-shadow: -10px 10px 60px 3px rgba(255, 255, 255, 1);
        background-position: right;
    }
    75%{
        box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.4);
    }
    100%{
        transform: translate(-100px, 250px);
        box-shadow: -10px 10px 60px 3px rgba(255, 255, 255, 1);
        z-index: -1;
    }
}
/* *Background divs */
/* *Content */
header{
    position: fixed;
}
#navContainer{
    display: flex;
    flex-wrap: wrap;
}
.sideTitle{
    writing-mode: vertical-rl;
    position: relative;
    transform: rotate(180deg);
    margin: 10px 0 0 6px;
    padding-left: 10px;
    border-Left: aliceblue 1px solid;
    border-top: transparent 30px solid;
    font-size: clamp(16px, 2vw, 24px);
    text-align: center;
    background-image: linear-gradient(90deg, rgb(31,31,31),transparent 90%);
}
#navMenu{
    z-index: 1;
}
.navMenuHover{
    color: var(--highlight-blue);
}
#linkContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    right: 0;
    z-index: 2;
    transition: 0.7s;
    background-image: linear-gradient(135deg, transparent,var(--dark-gray) 50%, transparent 50%);
    mask-image: radial-gradient(at top left,black 40%,transparent);
}

.heroTitle{
    border-bottom: aliceblue 1px solid;
    border-right: transparent 50px solid;
    border-left: transparent 10px solid;
    font-size: clamp(30px, 6vw, 100px);
    margin: 0 0 10px 0;
    background-image: 
    linear-gradient(135deg ,transparent,var(--dark-gray) 85% ,transparent 80%);
    background-repeat: no-repeat;
}
.navLinks{
    text-decoration: none;
    margin: 0 0 10px 10px;
    color: aliceblue;
}

.aboutContainer{
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
#about{
    margin: 0 0 10px 0;
}
.aboutPara{
    margin:0
}
.slideContainer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(31,31,31);
    padding: 10px;
    background-image: radial-gradient(circle, var(--dark-gray)1px, transparent 1px) 
    linear-gradient(black,transparent);
    background-size: 10px 10px, 0px 0px;
}
.slide{
    width: 330px;
    height: 220px;
}
.slide0{
    background-color: blue;
}
.slide1{
    background-color: tomato;
}
.slide2{
    background-color: turquoise;
}
.slide3{
    background-color: yellowgreen;
}
footer{
    height: 1000px;
}
@media (max-width: 1279px){
}
    

@media (max-width: 480px){
    .navMenu{
        border-left: 1px aliceblue solid;
        border-top: 15px transparent solid;
        padding-left: 5px;
    }
    .heroTitle{
        margin-bottom: 10px;
        border: 0;
        border-bottom: 1px aliceblue solid;
        border-right: 5px transparent solid;
        border-left: 5px transparent solid;
    }
}
/* *Font Css */
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
/* *Font Css */
