:root{
    /* dark mode colours */
    --dark-gray: #2A2A2A;
    --gray:#5b656d;
    --navey:#000050;
    --blue:#005da0;
    --highlight-blue:#00DEFF;
    --alice-blue: #f0f8ff;
}
body{
}
@media (max-width: 1279px){
}
    

@media (max-width: 480px){
}
